{% if opentel_config_override %}
{{ opentel_config_override }}
{% else %}
receivers:
  filelog:
    include:
      - /apps/*/storage/logs/laravel.log
      - /var/log/nginx/access.log
      - /var/log/nginx/error.log
processors:
  resourcedetection:
    detectors:
      - ec2
    ec2:
      tags:
        - ^.*$
exporters:
  file:
    path: /tmp/opentel-output.json
service:
  pipelines:
    logs:
      receivers:
        - filelog
      processors:
        - resourcedetection
      exporters:
        - file
{% endif %}