[Unit]
Description=OpenTelemetry Collector Contrib
After=network.target

[Service]
ExecStart={{ otel_exec_path }} --config={{ otel_config_path }}
Environment={{ otel_go_mem_limit_env }}
StandardOutput=file:{{ otel_log_path }}
StandardError=file:{{ otel_log_path }}
Restart=always
RestartSec=10
User={{ otel_user }}
Group={{ otel_group }}

[Install]
WantedBy=multi-user.target